/*Page de connexion*/

#login-container {
	width: 100%;
	margin:auto;
	padding: 150px 0 350px 0;
	display:flex;
	flex-direction: column;
	align-items: center;
}

#login-container form {
	display:flex;
	flex-direction: column;
}

#login-container h2 {
	padding-bottom: 30px;
}

#login-container input[type="email"], input[type="password"] {
	width: 379px;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-container input[type="submit"]{
	height: 36px;
	width: 180px;
	box-shadow: none;
	border: none;
	cursor: pointer;
}

#login-container label {
	margin: 2em 0 1em 0;
}

#login-container a {
	color: inherit;
}

#erreur-connexion h3 {
	color: #ca1f1f;
	font-size: 18px;
	font-weight: 600;
}