body {
    /****** section contact connection modal form ******/
    #contact, #connection, .wrapper #add-form {
        width: 33.75%;
        margin: auto;
        gap: 2% 0;

        #file-add-button-wrapper {
            background-color: var(--input-photo);
            height: 169px;
            margin-bottom: 10px;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 3px;
        }

        #icon-image {
            color: var(--file-button-bckgrd-color);
            font-size: 76px;
            margin-top: 12px;
            margin-bottom: 5px;
        }

        #file-ajout-button {
            width: 173px;
            background-color: var(--file-button-bckgrd-color);
            color: var(--file-button-text-color);
            font-family: var(--text-font-family);
            font-weight: var(--form-font-weight);
            font-size: var(--text-font-size);
            border: none;
            margin: 0;
        }

        #file-text {
            color: var(--file-p-color);
            font-size: 10px;
            margin-top: 10px;
        }

        #to-upload {
            overflow: hidden;
        }

        #category {
            margin-bottom: 0;
        }

        .greyed {
            background-color: var(--button-color-greyed);
            border: 1px solid var(--button-color-greyed);
            color: white;
        }

        label {
            margin-top: 20px;
            font-size: var(--text-font-size);
            font-weight: var(--form-font-weight);
            font-family: var(--text-font-family);
            text-align: left;/*index.html*/
        }

        form, #modal-form {
            display: flex;
            flex-direction: column;

            input {
                width: 380px;
                margin-top: 10px;
            }

            #button-send {
                margin-top: 4vh;
            }

            select {
                border: 0.5px solid white;/* Opera One 115.0.5322.119
                Chromium 130.0.6723.170 Windows 10 64 bits*/
                background-color: white;/* Firefox 133.0.3 */
                width: 420px;
                margin-top: 10px;
            }

            #image {
                height: 0
            }
    
            input[type="submit"]{
                width: 180px;
            }
        }

        #modal-form {
            input {
                width: 420px;
            }
        }
    }

    .wrapper #add-form {
        width: 200px;
        margin: 0 0;
    }

    #connection {
        padding-top: 10%;

        h2 {
            margin-bottom: 15px;
        }

        a {
            text-align: center;
            color: var(--a-color);
            margin-bottom: 90%;
        }
    }

    #contact, #connection > * {
        text-align: center;
    }

    #contact, #connection, #modal-form {
        h2 {
            margin-bottom: 20px;
        }

        p {
            font-family: var(--text-font-family);
            font-size: 16px;
        }

        textarea, #name, #email, #password, #title, #category {
            border: none;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
            margin-bottom: 1%;
        }

        #name, #email, #password, #title, #category {
            height: 51px;
        }

        #password {
            margin-bottom: 3vh;
        }

        #erreur {
            color: red;
        }
    }
}