body {
    #portfolio h2 {
        text-align: center;
        margin-top: 4.75em;
    }

    #filter {
        display: flex;
        justify-content: center;
    }

    .buttons {
        width: 62%;
        margin: 1.5em 0;
        display: flex;
    }

    .button {
        font-family: var(--button-font-family);
        font-weight: var(--button-font-weight);
        font-size: var(--button-font-size);
        text-align: center;
        border-radius: 60px;
        border: 1px solid var(--button-color);
        margin : 2em auto ;
        height: 37px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }

    .selected {
        background-color: var(--button-color);
        color: white;

        &:hover {
            background-color: var(--button-color-hover);
        }
    }

    .unselected {
        color: var(--button-color);
    }

    .filter {
        padding: 1% 4.25%;
    }

    #editDiv {
        padding: 2.4% 0;
    }

    #editSpan {
        color: black;
        font-family: var(--text-font-family);
        font-size: var(--text-font-size);
        margin-left: 2vw;
    }

    #editIcon {
        font-size: 15.58px;
        margin-right: 0.75vw;
    }

    .gallery {
        width: 83%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-left: 6vw;

        img {
            width: 100%;
        }

        figcaption {
            margin-top: 5px;
        }
    }
}