/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;

}
.edition-mode {
	display: none;
}

.edition-mode.active {
	display: contents;
}

#edition-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
	height : 59px;
	background-color: black;
	color: white;
	box-sizing: border-box;
}

.edition-mode img {
	color: white;
}

.edition-mode span{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin: 0 21px 0 13px;
}

.edition-mode button {
	padding : 0 2.5% 0 2.5%;
	font-weight: 500;
	line-height: 16px;
	background: white;
	border-radius: 30px;
	height: 38px;
	border: none;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 16px;
}

nav li a {
	text-decoration-line: none;
	color: black;
	font-size: 16px;
}

nav li :hover {
	color: #B1663C;
}

nav li a:hover {
	color: #B1663C;
}

nav li a span {
	font-weight: 600;
}

/* Formulaire Log In */
form {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 379px;
	width : 380px;
	font-weight: 500;
	color: #3D3D3D;
}

form h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #1D6154;
	margin-bottom: 16px;
}

form label {
	align-self: start;
	margin-bottom: 6px;
	color: #3D3D3D;
}

form input {
	width : 379px;
	height: 51px;
	margin-bottom: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: none;
}

form a {
	color: #3D3D3D;
}
.error-message-absence {
	color: white;
}
.error-message-absence.active{
	color: black;
	padding: 2%;
	border: 2px dashed #D65353;
}
.error-message-error {
	color: white;
}
.error-message-error.active {
	color: black;
	padding: 2%;
	border: 2px dashed #D65353;
}

/* bouton lien modifier modale */
.square-pen {
	position: relative;
	height: 18px;
	width: 18px;
	margin-right: 8px;;
}
.pen {
	position: absolute;
	left: 5px;
	bottom: 6px;
}

.edition-mode button[type="button"]{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	font-family: 'Work Sans';
}
#edition-article.edition-mode {
	margin: 0;
	padding: 0;
	border: 2px solid blue;
}


/* modale*/
.modal{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1; /* Sit on top */
	overflow: auto; 
	background: rgba(0, 0,0, 0.4);
}

.modal-container {
	display: flex;
	flex-direction: column;
	padding: 4%;
	background-color: white;
	width: 630px;
	border-radius: 10px;
	margin: 15% auto;

	
}
.modal-close {
	align-self: flex-end;
	border: none;
	background-color: white;
}

.modal-container h3 {
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}
.gallery-modal {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: auto;
	padding: 40px 0 20px 0;
}

.gallery-modal figure img {
	width: 100%;
}
.gallery-modal figcaption {
	display: inline;
	margin-left: -16px;
}

.photo-remove {
	position: relative;
	background-color: black;
	top: -80%;
	left: 77%;
	padding: 4px;
	border: none;
}

#btn-add-photo {
	width: 237px;
	padding: 10px 49px 10px 49px;
	border-radius: 60px;
	color: white;
	background-color: #1D6154;
	font-family: 'Syne';
	text-align: center;
	align-self: center;
	text-decoration-line: none;
	margin: 16px 0 16px 0;
}
.modal-container input[type="button"] {
	color:#D65353;
	background-color: white;
	line-height: 17px;
	border: none;
	font-family: 'Syne';
	font-weight: 400;
}
/* modale ajout photo */
.modal-icon {
	display: flex;
	justify-content: space-between;
}
#arrow-back {
	border: none;
	background-color: white;
}

.container-add-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 169px;
	background-color: #E8F1F7;
	border-radius: 3px;
	margin-top: 30px;
}

#rectangle{
	position: relative;
	z-index: 1;
	top: 14px;
	left: 24px;
}

#circle {
	position: relative;
	z-index: 3;
	top: -10px;
	right: 30px;
}
#mount{
	position: relative;
	z-index: 2;
	top : 8px;
	right: 50px;
}
.container-add-photo button {
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 10px 35px 10px 35px;
	margin: 30px 0 7px 0;
	border: none;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
}
.container-add-photo p{
	font-size: 10px;
	font-weight: 400;
}

.modal-container form {
	margin: 20px 0 20px 0;
	width: 100%;
}

.modal-container form label, select {
	font-weight: 500;
	color: #3D3D3D;
	line-height: 16px;
}
.modal-container form input, select {
	box-shadow: 0 4px 14px rgba(0,0,0,0.09);
	width: 100%;
}
select{
	background-color: white;
	box-shadow: 0 4px 14px rgba(0,0,0,0.09);
	border: none;
	height: 51px;
	margin-bottom: 40px;
}
#valider {
	width: 237px;
	height: 36px;
	background-color: #A7A7A7;
	border-radius: 60px;
}

#introduction {
	display: flex;
	align-items: center;
	width: 90%;
	margin-left: 30px;
}

#photo-presentation {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	color: #3D3D3D;
	line-height: 16px;
	text-align: left;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 1em;
}

/* ajout bouton filtre catégorie*/
.filtres {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	margin-left: 3rem;
}
.filter-btn {
	border-radius: 60px;
	text-align: center;
	border: 1px solid #1D6154;
	color: #1D6154;
	background: white;
	padding: 9px  30px 9px 28px; 
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	line-height: 19px;
	margin-right: 8px;
}

.filter-btn.active {
	color: white;
	background: #1D6154;
	border-radius: 60px;
	text-align: center;
	border: 1px solid #1D6154;
	padding: 9px  30px 9px 28px; 
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	line-height: 19px;
	margin-right: 8px;
}

.gallery {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-left: 80px;
	margin-right: 80px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	font-weight: 300;
}

