/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;

}

/** header **/
header {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 16px;
}

nav li a {
	text-decoration-line: none;
	color: black;
	font-size: 16px;
}

nav li :hover {
	color: #B1663C;
}

nav li a:hover {
	color: #B1663C;
}

nav li a span {
	font-weight: 600;
}

#introduction {
	display: flex;
	align-items: center;
	width: 100%;
	margin-left: 80px;
}

#photo-presentation {
	flex: 1;
}
#introduction button {
	display: flex;
}

#introduction img {
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	color: #3D3D3D;
	line-height: 16px;
	margin-right: 80px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	width: 80%;
	text-align: justify;
}

#edition-portfolio {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

#portfolio {
	margin : 20px 80px 30px 0;
}

#portfolio h2{
	padding-right: 16px;
	margin-bottom: 20px;
}

/* ajout bouton filtre catégorie*/
.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	margin-left: 3rem;
}
.filter-btn {
	border-radius: 60px;
	text-align: center;
	border: 1px solid #1D6154;
	color: #1D6154;
	background: white;
	padding: 9px  30px 9px 28px; 
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	line-height: 19px;
	margin-right: 8px;
}

.filter-btn.active {
	color: white;
	background: #1D6154;
}

.gallery {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-left: 80px;
	margin-right: 80px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	font-weight: 300;
}

/** Formulaire Log In **/
form {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 379px;
	width : 380px;
	
}

form h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #1D6154;
	margin-bottom: 16px;
}

form label {
	align-self: start;
	margin-bottom: 6px;
	color: #3D3D3D;
}

form input {
	width : 379px;
	height: 51px;
	margin-bottom: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: none;
}

form a {
	color: #3D3D3D;
}
/* message erreur */
.message-error-login {
	background-color: white;
	color: #D65353;
	padding: 4%;
	border: 2px dashed  #D65353;
	font-weight: 700;
	text-align: center;
	width: 100%;
	margin : 10px 0 10px 0;
}

/** mode edition **/
.edition-mode {
	display: none;
}

.edition-mode.active {
	display: contents;
}

#edition-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
	height : 59px;
	background-color: black;
	color: white;
	box-sizing: border-box;
}

.edition-mode span{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin: 0 21px 0 13px;
}

.edition-mode button {
	padding : 0 2.5% 0 2.5%;
	font-weight: 500;
	line-height: 16px;
	background: white;
	border-radius: 30px;
	height: 38px;
	border: none;
}
.edition-mode a {
	text-decoration: none;
	color : black;
}

#modal-projet-btn {
	padding-top: 6px;
}

/* bouton lien modifier modale */
.square-pen {
	height: 18px;
	width: 18px;
}

.edition-mode button[type="button"] {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	font-family: 'Work Sans';
	padding: 0;
}


/* modale*/
.modal {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background: rgba(0, 0,0, 0.4);
}

.modal-container {
	display: flex;
	flex-direction: column;
	padding: 4% 6% 4% 6%;
	background-color: white;
	max-width: 630px;
	border-radius: 10px;
	margin: 15% auto;
}

.modal-close {
	align-self: flex-end;
	width: 16px;
	height: 16px;
}

.modal-container h3 {
	font-size: 26px;
	line-height: 30px;
	margin: auto;
}

.gallery-modal {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	margin: auto;
	padding: 40px 0 20px 0;
}

.photo-remove{
	width: 21px;
	height: 21px;
}

.photo-remove img {
	position: relative;
	top: -135px;
	left: 70px;
	background-color: black;
	padding: 5px;
}

.gallery-modal figure>img {
	width: 100%;
	height: 140px;
}

.gallery-modal figcaption {
	display: inline;
	margin-left: -22px;
}

.modal-container hr {
	width: 90%;
	color: #B3B3B3;
}

#btn-add-photo {
	width: 237px;
	padding: 10px 49px 10px 49px;
	border-radius: 60px;
	color: white;
	background-color: #1D6154;
	font-family: 'Syne';
	text-align: center;
	align-self: center;
	text-decoration-line: none;
	margin: 16px 0 16px 0;
}

.modal-container button {
	color:#D65353;
	background-color: white;
	line-height: 17px;
	border: none;
	font-family: 'Syne';
	font-weight: 400;
}
/* modale ajout photo */

#arrow-back {
	width: 21px;
	height: 15px;
	position: relative;
	top: 15px;
}

#form-add-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: auto;
}

.container-add-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 169px;
	background-color: #E8F1F7;
	border-radius: 3px;
	margin-top: 30px;
}

.container-add-photo img {
	width: 58px;
	height: 58px;
	color: #B9C5CC;
}

.container-add-photo p{
	font-size: 10px;
	font-weight: 400;
}

.modal-container label  {
	display: flex;
	font-weight: 500;
	color: #3D3D3D;
	line-height: 16px;
	width: 25%;
	margin-top: 10px;
	margin-left: 35px;
}

#label-file {
	padding : 2%;
	justify-content: center;
	margin: 20px auto;
	background-color: #CBD6DC;
	border-radius: 50px;
	border: none;
}

.modal-container input, select {
	box-shadow: 0 4px 14px rgba(0,0,0,0.09);
	width: 90%;
}

#form-add-photo hr{
	width: 90%;
}

.modal-container select{
	border: none;
	height: 51px;
	margin-bottom: 40px;
}

#valider {
	width: 237px;
	height: 36px;
	color: white;
	background-color: #A7A7A7;
	border-radius: 60px;
	text-align: center;
	line-height: 17px;
	font-size: 16px;
	outline : none;
}

#valider-submit {
	background-color: #1D6154;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	text-align: center;
	line-height: 17px;
	font-size: 16px;
}

/* affichage image upload */
#display-image {
	width : 35%;
	height: 193px;
	background-position: center;
	background-size: cover;
}