header {
    display: flex;
    justify-content: space-between;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#login {
	text-align: center;
}

.log {
	cursor: pointer;
}

.title {
	padding-bottom: 30px;
}

.email {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}

.email1 {
	display: flex;
	position: relative;
	right: 15%;
	padding-bottom: 7px;
}

input {
	width: 379px;
	background: #ffffff;
	border: 1px solid #ffffff;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
}

.password {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 37px;
}

.pass1 {
	display: flex;
	position: relative;
	right: 13%;
	padding-bottom: 6px;
}

.buttonLog {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bt1 {
	border-radius: 60px;
    width: 179px;
    height: 36px;
    background: #1D6154;
    color: white;
	margin-bottom: 37px;
}

.mdp {
	text-decoration: none;
    text-decoration-line: underline;
    color: #3D3D3D;
	padding-bottom: 55%;
}

.footer {
	position: relative;
	left: 85%;
}

.footer1 {
text-decoration: none;
color: #000000;
}