#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFEF8;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

nav a{
    text-decoration: none;
    color: #3D3D3D;
}

/* gallerie homepage*/
/* Style pour la galerie principale */
#gallery img {
    width: 100%;
    height: 413px;
}

/* Style pour la galerie dans la fenêtre modale */
#modal1 .gallerie img {
    width: 76px ; 
    height: 102px;
}
/* Style pour la galerie dans la fenêtre modale */
#modal1 .modal-content .gallerie {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}



.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #f8d7da;
    display: none;  
}

.mode-edit{
    width: 100%;
    height: 59px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-edit h2{
  font-size: 12px;
    color: white;
    margin-right: 10px;

    font-weight: '200';
}


.mode-edit button{
    width: 200px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    border-radius: 25px;
  
}

/* partie boite modale */
.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content{
    overflow: auto;
    background-color: #FFFFFF;
    width: 630px;
    height: 670px;
    border-radius: 10px;
    max-width: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    text-align: center;
    
}

.title-modal{
    font-size: 26px;
    

}

.close-modal{
    margin-left: 500px;
    background: none;
    border: none;
    font-size: 24px;
    
}











.login {
    width: 100%;
    height: 100vh;
}

.form-container {
    width: 379px;
    margin: 0 auto;
    padding: 20px;


}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container p{
    text-align: start;
    color: #3D3D3D;
    margin-bottom: 7px;
    margin-top: 30px;
}

.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.106);
}

.form-container input[type="submit"] {
    width: 179px;
    padding: 10px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.069);
}

.form-container form {
    text-align: center;
    /* Ajout de cette ligne */
}

.form-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #1D6154;
    text-decoration: none;
}






footer {
    height: 60px;
    background-color: #FFFFFF;
}