/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.hidden {
  display: none;
}

#edit-mode-panel {
  display: none;
  background: #000000;
  height: 59px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

#edit-mode-panel svg {
  height: 20px;
  fill: white;
}

#edit-mode-panel button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 60px;
  width: 216px;
  height: 38px;
}

svg {
  height: 20px;
}

figure svg {
  margin-left: 55px;
}

.edit {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

button {
  border: none;
  background: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 10px;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-right: 20px;
}

#filtres {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#filtres button {
  box-sizing: border-box;
  border: 1px solid #1d6154;
  border-radius: 60px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 25px;
}

.default-button {
  color: #1d6154;
  background-color: white;
}

.active-button {
  color: white;
  background-color: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 30px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Login page */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  margin-bottom: 30px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input:first-of-type {
  margin-bottom: 20px;
}

.login-form input {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 15px;
  border: none;
  width: 370px;
}

.login-form input:last-of-type {
  background: #1d6154;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  width: 170px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-reset {
  text-align: center;
}

.password-reset a {
  text-decoration: underline;
  color: #3d3d3d;
  font-weight: 500;
}

#error-message {
  margin-top: 10px;
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.3s both;
}

.modal-wrapper {
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #fff;
  animation: slideFromTop 0.3s both;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.modal-gallery {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px 10px;
  padding-left: 80px;
}

.modal-gallery figure {
  width: 78px;
  height: 104px;
}

.modal-gallery img {
  width: 100%;
  height: 100%;
}

.modal-gallery button {
  font-size: 12px;
  padding: 0;
  position: relative;
  right: 20px;
}

.modal-wrapper > i {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
}

.modal-wrapper > * {
  margin: 20px 0;
}

.modal h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.trash {
  position: relative;
  bottom: 100px;
  left: 55px;
  color: white;
  background: black;
  padding: 4px;
  font-size: 10px;
  cursor: pointer;
}

hr {
  width: 420px;
  height: 0px;
  border: 1px solid #b3b3b3;
}

.add-project {
  background: #1d6154;
  border-radius: 60px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  width: 217px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

.delete-gallery {
  font-family: "Syne";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #d65353;
}

.modal-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-nav i {
  font-size: 21px;
  cursor: pointer;
}

.add-photo {
  width: 420px;
  height: 150px;
  background: #e8f1f7;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.add-photo i {
  font-size: 58px;
  color: #b9c5cc;
}

.add-photo label {
  width: 173px;
  height: 36px;
  background: #cbd6dc;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #306685;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-photo span {
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #444444;
}

.modal input[type="text"],
select {
  width: 420px;
  height: 51px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modal input[type="submit"] {
  width: 237px;
  height: 36px;
  background: #a7a7a7;
  border-radius: 60px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: none;
}
