/* Colors */
/****** COLORS ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  height: auto;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li a {
  padding: 0 30px;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}

nav li a:hover {
  color: #B1663C;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
  font-size: 119%;
  text-align: justify;
  line-height: 140%;
}

.portfolio-title {
  margin-top: 160px;
  margin-bottom: 70px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.button-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: -50px 0px 50px 0px;
}
.button-filter button {
  height: 37px;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  color: #1D6154;
  line-height: normal;
  justify-content: center;
  text-align: center;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 60px;
  border: 1px solid #1D6154;
  transition: all 0.5s ease;
}
.button-filter button:hover {
  background-color: #1D6154;
  color: #ffffff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
}

#connexion {
  width: 34%;
  padding-top: 100px;
}

#contact, #connexion {
  margin: auto;
}
#contact h2, #connexion h2 {
  margin-bottom: 20px;
}
#contact form, #connexion form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input, #connexion input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 10px;
}
#contact label, #connexion label {
  margin: 2em 0 1em 0;
}
#contact textarea, #connexion textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact .submit, #connexion .submit {
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  height: 36px;
  cursor: pointer;
  transition: all 0.4s ease;
}
#contact .submit:hover, #connexion .submit:hover {
  background-color: #0e2f28;
  transform: scale(1.1);
}
#contact a.forgot-password, #connexion a.forgot-password {
  color: #0e2f28;
  text-align: center;
}
#contact a.forgot-password:hover, #connexion a.forgot-password:hover {
  color: #1D6154;
}
#contact .error-login, #connexion .error-login {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: red;
  padding-bottom: 5px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: last baseline;
  margin: 2em;
  height: 15vh;
}
footer nav ul {
  margin: auto;
}

/*# sourceMappingURL=layout.css.map */
