/* Colors */
@import 'web_elements';



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color:$brown
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: $green
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: $brown;
}
#introduction {
	display: flex;
	align-items: center;
	
	figure {
	flex: 1
	}

	img {
	display: block;
	margin: auto;
	width: 80%;
	}

	article {
	flex: 1
	}

	h2 {
	margin-bottom: 1em;
	}

	p {
	margin-bottom: 0.5em;
	}
}


#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.btn-filtrer {
	height: 37px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color:$green;
	line-height: normal;
	justify-content: center;
	text-align: center;
	padding: 9px 10px;
	border-radius: 60px;
	border: 1px solid $green;
	cursor: pointer;
	background-color: $white;
	transition: all 0.5s ease;
}

.button-filters-wait {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin: 51px 0;





	& button {
        height: 37px;
		font-family: 'Syne';
		font-size: 16px;
		font-weight: 700;
		color:$green;
        line-height: normal;
        justify-content: center;
        text-align: center;
        padding: 9px 10px;
        border-radius: 60px;
        border: 1px solid $green;
        cursor: pointer;
        background-color: $white;
        transition: all 0.5s ease;
      }

      & button:hover {
        background-color: $green;
        color: $white;
      }
} 



.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

	img {
	width: 100%;}	
}

#contact {
	width: 50%;
	margin: auto;
 		> * {
	text-align: center;
	}

	h2{
	margin-bottom: 20px;}

	form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	}

	input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}

	label {
	margin: 2em 0 1em 0;
	}

	textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}

	input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: $green;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	}
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

