/* Colors */
@import 'web_elements';

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 630px;
    border-radius: 10px;
    padding: 30px;
    padding-top: 20px;
  }
  
  /* The Close Button */
  .close {
    color: $black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:$black;
    text-decoration: none;
    cursor: pointer;
  }


#modalBtn {
  display: block;
}

#modalBtn {
  display: none;
}

.display-mini-gallery {
  padding: 60px;
}

.titre-modal {

  h1 {
  color: $black;
  font-family: 'Work Sans' ;
	font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  }
}

.submit-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: $green;
	margin : 2em auto ;
	width: 237px;
	text-align: center;
	border-radius: 60px;
  border:none;
	height: 36px;
	cursor: pointer;
	transition: all 0.4s ease;
	}

	.submit-photo:hover {
	background-color: $green-dark;
	}

  .top-stroke {
    display: block;
    border-top : 1px solid #B3B3B3;
    margin-top: 67px;
    padding-bottom: 10px;
  }