/* Colors */
/****** COLORS ***********/
/* Style du modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: all 0.4s ease;
}

/* Style du contenu du modal */
.modal-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 80%;
  max-width: 630px;
  border-radius: 10px;
}

.modal-content {
  display: none;
}

.modal-content.active {
  display: block;
}

a#nextPageLink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 237px;
  text-align: center;
  border-radius: 60px;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease;
}

a#nextPageLink:hover {
  background-color: #0e2f28;
}

.container-link-top-modal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-link-close-modal {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#prevPageLink {
  display: block;
  color: #000000;
  font-size: 16px;
  transition: all 0.4s ease;
}

.close {
  display: block;
  font-size: 16px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.4s ease;
}

#prevPageLink:hover,
.close:hover {
  color: #1D6154;
  scale: 1.5;
}

hr {
  height: 1px;
  background-color: #B3B3B3;
  border: none;
  margin-top: 40px;
}

#modalBtn {
  display: block;
}

#modalBtn {
  display: none;
}

.modal h2 {
  color: #000000;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

/* Contenu affichage contenu / API  */
.display-mini-gallery {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 15px;
}

.modal-ajout-gallery {
  padding-left: 70px;
  padding-right: 70px;
}

.display-mini-project {
  display: grid;
}

.modal-portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  position: relative;
}
.modal-portfolio img {
  width: 100%;
  position: relative;
}
.modal-portfolio .icon-trash {
  position: relative;
  top: 25px;
  right: -35%;
  z-index: 1;
  margin: 0;
}
.modal-portfolio .icon-trash i {
  color: #ffffff;
  background-color: #000000;
  padding: 5px;
  font-size: 11px;
  border-radius: 2px;
  cursor: pointer;
}

.add-file-zone {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer horizontalement */
  justify-content: flex-start; /* Centrer verticalement */
  background-color: #E8F1F6;
  border-radius: 3px;
  height: 169px;
  margin-bottom: 10px;
}
.add-file-zone .custom-file-input {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer horizontalement */
}
.add-file-zone i {
  color: #B9C5CC;
  font-size: 64px;
  margin-top: 50px;
}
.add-file-zone .preview-image {
  width: 169px;
  height: 169px;
  margin-top: 0px;
}
.add-file-zone input[type=file] {
  display: none; /* Masquer le vrai bouton de fichier */
}
.add-file-zone button {
  display: block;
  background-color: #CBD6DC;
  color: #306685;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 40px;
  width: 173px;
  font-family: "Work Sans";
  font-size: 14px;
  margin-bottom: 10px;
}
.add-file-zone button:hover {
  background-color: #306685;
  color: #CBD6DC;
}
.add-file-zone p {
  color: #444444;
  font-family: "Work Sans";
  font-size: 10px;
}

.add-file-text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optionnel : centrer horizontalement */
}
.add-file-text label {
  margin-bottom: 5px; /* Espacement entre le label et le champ */
  text-align: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.add-file-text input {
  height: 50px;
  width: 100%;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 10px;
}
.add-file-text select {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 10px;
  background-color: #ffffff;
}

input#file-submit {
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #A7A7A7;
  margin: 2em auto;
  width: 237px;
  text-align: center;
  border-radius: 60px;
  border: none;
  height: 36px;
  cursor: pointer;
  transition: all 0.4s ease;
}

input#file-submit:hover {
  background-color: #626262;
}

/*# sourceMappingURL=modal.css.map */
