/* Page loggedin */
.edition-band {
	display: flex;
	justify-content: center;
    width: 100vw; /* Occupe toute la largeur de la page */
    background-color: black;
    color: white;
    padding: 10px 20px; /* Ajoutez du padding pour l'espace intérieur */
    text-align: center; /* Centre le texte horizontalement */
	margin: 0;
	position: absolute;
    top: 0;
    left: 0;
}

.h2-edition {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    margin-bottom: 50px;
}

.h2-edition h2 {
    margin-right: 30px; /* Espacement entre le titre et le paragraphe */
}

.h2-edition p {
    margin: 0; /* Supprimez la marge du paragraphe */
    display: flex;
    align-items: center; /* Centrer verticalement */
	padding-bottom: 25px;
}

.h2-edition i {
	margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.category {
    display: none;
}