/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
    background-color: #FFFEF8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
    margin-bottom: 150px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
    margin-bottom: 60px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
    font-weight: 400;
}

.instagram img {
	height: 22px;
	width: 22px;
}

li:hover {
	color: #B1663C;
}

.login {
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form p {
    text-decoration: underline;
}

#error {
    color: red;
    margin-bottom: 28px;
    text-decoration: underline;
}

#login-form input {
    width: 379px;
    height: 50px;
    border: none;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

#login-form label {
    align-self: baseline;
    margin-bottom: 7px;
}

#email {
    margin-bottom: 52px;
}

#password {
    margin-bottom: 37px;
}

#login-form button {
    width: 179px;
    height: 36px;
    margin-bottom: 28px;
    color: white;
    background-color: #1D6154;
    border-radius: 60px;
    border: none;
    font-family: 'syne';
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em
}

footer {
	background-color: white;
    margin-top: auto;
}

