.login {
    display: flex;
    flex-direction: column;
    margin: auto;

}

.login-title {
    margin-bottom: 37px;
    text-align: center;
}

.login-form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.login-form_input {
    height: 50px;
    width: 379px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-form_label {
    margin: 2em 0 1em 0;
}

.submit {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

.login-recoverpwslink {
    color: rgb(61, 61, 61);
    text-align: center;
    display: block;
    margin: 0 auto;
}