.ishidden {
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    /* height: 688px; */
    width: 630px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    position: relative;
    margin: auto;
    z-index: 2;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 46px 0;
    margin-top: 14px;
}
.modal-title {
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    color: black;
}

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 7.49px;
    grid-row-gap: 27.49px;
    padding: 0 105px;
}
.modal-gallery_fig {
    width: 76.86px;
    position: relative;
}

.modal-gallery_btn {
    position: absolute;
    top: 6px;
    right: 5px;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 2px;
    height: 17px;
}

.modal-gallery_btn svg {
    width: 9px;
    height: 11px;
    fill: currentColor;
}

.modal-gallery img {
    width: 100%;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 38px 0;
    margin: 47px auto 0;
    border-top: 1px solid rgba(179, 179, 179, 1);
    width: 420px;
}

.modal-btn {
    border: 1px solid rgba(29, 97, 84, 1);
    border-radius: 60px;
    padding: 10px 49px;
    background: rgba(29, 97, 84, 1);
    color: white;
    text-align: center;
    font: inherit;
    font-size: 14px;
    font-weight: 700;
    min-width: 237px;
}

.modal-btn:disabled {
    border-color: rgba(167, 167, 167, 1);
    background-color: rgba(167, 167, 167, 1);
}

.modal-exit {
    position: absolute;
    top: 26px;
    right: 30px;
    border: none;
    background-color: transparent;
    font-size: 24px;
}

.backbtn {
    position: absolute;
    top: 26px;
    left: 30px;
    border: none;
    background-color: transparent;
    font-size: 24px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 105px;
}

.modal-form_img {
    background-color: rgba(232, 241, 246, 1);
    color: rgba(185, 197, 204, 1);
}

.modal-form_img-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 169px;
}

.modal-form_img-icon {
    font-size: 60px;
}

.modal-form_img-btn {
    border: 1px solid rgba(203, 214, 220, 1);
    border-radius: 60px;
    padding: 10px 49px;
    background: rgba(203, 214, 220, 1);
    color: rgba(48, 102, 133, 1);
    text-align: center;
    font: inherit;
    font-size: 14px;
    font-weight: 700;
}

.modal-form_img-input {
    display: none;
}

.modal-form_img-p {
    color: rgba(68, 68, 68, 1);
    font-size: 10px;
}

.modal-form_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-form_title-input {
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    padding-left: 16px;
    color: rgba(68, 68, 68, 1);
}

.modal-form_category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-form_category-option {
    height: 51px;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    padding-left: 16px;
    color: rgba(68, 68, 68, 1);
}
