
.editNav{
	position: fixed;
    left: 0;
	width: 100%;
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 500px;
}

.editNav__titre{
	/* border: 1px solid white; */
	color: white;
	margin: 0 5px;
	padding: 0 20px;
}

.editNav__button{
	/* height: 34px; */
	background-color: white;
	margin: 10px;
	padding: 5px 20px;
	border: 1px solid black; 
	border-radius: 20px;
	cursor: pointer;
}

.editLink{
    display: block;
	color: #1D6154;
	cursor: pointer;
	font-size: 0.8rem;
	padding: 0;
	text-decoration: none;
}

.editLink-profil{
	position: relative;
	left: 10%;
    margin-top: 10px;
	width: 80px;
}
.editLink-projets{
	position:relative;
    left: 150px ;
	top: -20px;
}

