/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
  background-color: #FFFEF8;
}

header, main {
  padding: 0 10%;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

header a:hover {
  font-weight: bold;
}

section {
	margin: 50px 0;
}

button,
a,
i,
.adminBanner {
  cursor: pointer;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 25px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

nav li img[alt="Instagram"] {
  width: 22px;
  display: flex;
  justify-content: center;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 45px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  gap: 10px;
}

.filter-btn {
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color:#1D6154;
  text-align: center;
  background-color: #FFFEF8;
  min-width: 100px;
  height: 37px;
  border-radius: 60px;
  border: 1px solid #1D6154;
  padding: 0 12px;
}

.filter-btn:hover {
  background-color: #1D6154;
  color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
  height: 388px;
  object-fit: cover;
}

.form-section {
  width: 50%;
  margin: auto;
}

.form-section > * {
	text-align: center;
}

.form-section h2{
	margin-bottom: 20px;
}

.form-section form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.form-section input {
  cursor: pointer;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-section label {
	margin: 2em 0 1em 0;
}

.form-section textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
.submitBtn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

input[type="submit"]:hover,
.submitBtn:hover {
  background-color: #A7A7A7;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

footer nav ul li {
  padding: 0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

/** Log In page CSS **/

#login {
  margin-bottom: 13%;
}

#login p {
  text-decoration: underline;
}

#login a {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.errorLogin {
  font-size: 1.2em;
  padding-top: 20px;
  color: #b30000;
}

/** Admin page CSS **/

.adminBanner {
  background-color: black;
  text-align: center;
  padding: 20px;
}

.adminBanner a {
  color: white;
}

.my-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.modifyBtn {
  margin-bottom: 45px;
}

/** Modal CSS **/

#modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.closeModalBtn {
  font-size: 20px;
  margin-left: auto;
}

.modal-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 600px;
  height: 660px;
  padding: 25px;
  border-radius: 10px;
}

.modal-wrapper h3 {
  font-size: 26px;
  font-weight: 400;
}

.modal-wrapper hr {
  width: 85%;
  height: 1px;
  border: none;
  background-color: #B3B3B3;
}

.add-photo-btn {
  width: 237px;
  padding: 15px;
  border: none;
  font-size: 1.2em;
  margin: 20px;
}

.admin-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  column-gap: 10px;
  padding: 30px 60px 40px 60px;
}

.admin-gallery figure {
  box-sizing: border-box;
  position: relative;
}

.admin-gallery img {
  width: 100%;
  height: 117px;
  object-fit: cover;
  opacity: 1;
}

.admin-gallery .imageTrashIcon {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: black;
  padding: 5px;
  border-radius: 2px;
}

.empty-works {
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  grid-column: 2;
}

.modal-add-photo {
  display: none;
}

.add-photo-form {
  display: flex;
  flex-direction: column;
}

.modal-header-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow-backward {
  font-size: 20px;
}

.add-photo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 85%;
  font-size: 14px;
  margin-top: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-input-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #E8F1F6;
  height: 170px;
}

.input-photo-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imagePreview {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.form-input-photo i {
  font-size: 70px;
  margin-bottom: 10px;
}

.form-input-photo label {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #CBD6DC;
  color: #306685;
  cursor: pointer;
}

.form-input-photo p {
  color: #444444;
  font-size: 10px;
  margin-top: 10px;
}

.form-group-inputs {
  width: 100%;
  margin-bottom: 30px;
}

.form-group-inputs input,
.form-group-inputs select {
  cursor: pointer;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 15px;
}

.form-group-inputs input:focus,
.form-group-inputs select:focus {
  outline: none;
}

.form-group-inputs label {
  margin: 30px 0 10px 0;
}

.validate-photo-btn {
  background-color: #1D6154;
  margin: 10px 0 30px 0;
  padding: 15px;
  border: none;
  font-size: 1.2em;
}

.validate-photo-btn:hover {
  background-color: #A7A7A7;
}

.add-photo-form hr {
  width: 100%;
}

.form-group-inputs select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m7 10l5 5l5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 1.25em auto, 100%;
}
