/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#barreMenu {
	background-color: black;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#edition {
	color: white;
	background-color: black;
	margin-right: 20px;
	font-size: 16px;
	border: none;
}

#edition i {
	margin-right: 5px;
}

#publier {
	background-color: white;
	color: black;
	height: 38px;
	width: 216px;
	border-radius: 60px;
	font-size: 14px;
	font-weight: 500;
	border: none;
	font-family: 'Work sans';
}

a:link,
a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #B1663C
}

.lien:hover {
	cursor: pointer;
}

.listeFiltres {
	justify-content: center;
}

.filtre {
	font-size: 16px;
	font-family: 'Syne';
	font-weight: 700;
	height: 37px;
	color: #1D6154;
	background-color: white;
	border: solid 1px #1D6154;
	border-radius: 60px;
	min-width: 100px;
	padding: 5px 10px 5px 10px;
	margin-top: 1em;
	margin-bottom: 3em;
}

p {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
}

article {
	max-width: 400px;
}

#edition2 {
	position: relative;
	left: 700px;
	bottom: 50px;
	background-color: white;
	border: none;
	font-size: 14px;
	cursor: pointer;
}

#edition3 {
	position: relative;
	left: 10%;
	background-color: white;
	color: black;
	border: none;
	font-size: 14px;
	cursor: pointer;
}


#edition2:hover,
#edition3:hover {
	color: #B1663C;
}

#edition2 i,
#edition3 i {
	margin-right: 5px;
}


/* -------------------------------------------- CSS pour la modale ----------------------------------------------------------*/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalWrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	animation: slideFromTop .3s both;
}

@keyframes slideFromTop {
	from {
		transform: translateY(-50px);
	}

	to {
		transform: translateY(0);
	}
}

h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
}

#modal1Icons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.js-modal-previous {
	align-self: flex-start;
	margin: 0;
	background-color: white;
	border: none;
	cursor: pointer;
}

.js-modal-close {
	align-self: flex-end;
	margin: 0;
	background-color: white;
	border: none;
	cursor: pointer;
}

#gestionGalleryMini {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 30px 0;
	width: 420px;
	max-width: calc(90vw - 20px);
	border-top: 1px solid #B3B3B3;
}

.boutonGestionGalleryMini {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	width: 237px;
	height: 36px;
	background: white;
	color: #D65353;
	border: none;
	margin: 10px 0;
}

.boutonGestionGalleryMini:hover {
	font-weight: 700;
	background: #1D6154;
	border-radius: 60px;
	color: white;
	cursor: pointer;
}

#galleryMini {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 86%;
}

#galleryMini figure {
	width: 18%;
	height: 140px;
	margin: 30px 5px 0 5px;
}

#galleryMini img {
	width: 100%;
	height: 140px;
}

#galleryMini figcaption {
	position: relative;
	bottom: 15px;
}

figure img {
	display: block;
}


.icone {
	background-color: black;
	color: white;
	position: relative;
	bottom: 95%;
	left: 75%;
	border: none;
	cursor: pointer;
}

.deplacer {
	background-color: black;
	color: white;
	position: relative;
	bottom: 95%;
	left: 25%;
	border: none;
}

#aideImage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#ajoutPhoto {
	flex-wrap: wrap;
	width: 420px;
	height: 169px;
	background: #E8F1F6;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 30px;
}

.fa-image {
	font-size: 30px;
	color: #B9C5CC;
}

#labelPhoto {
	display: inline-block;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 173px;
	height: 36px;
	color: #306685;
	background: #CBD6DC;
	border-radius: 50px;
	border: none;
	margin: 10px 0 5px 0;
}

#labelPhoto:hover {
	cursor: pointer;
}

#limitesPhoto {
	font-size: 10px;
}

#formulaire {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 10px;
}

#modal2 section {
	margin: 30px 0;
}

#modal2 label {
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
}

.labelForm {
	margin-bottom: 10px;
}

#titre,
#categorie {
	background-color: white;
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 30px;
}

#valider:enabled {
	height: 36px;
	width: 237px;
	border-radius: 60px;
	background: #1D6154;
	color: white;
	border: none;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 35px;
}

#valider:enabled:hover {
	cursor: pointer;
}

#valider:disabled {
	height: 36px;
	width: 237px;
	border-radius: 60px;
	background: #A7A7A7;
	color: white;
	border: none;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 35px;
}



/* -------------------------------------------- CSS pour la page de login ---------------------------------------------------*/

#login {
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20%;
}

#titreLogIn {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

#email,
#password {
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 5px;
}

.erreur {
	display: inline-block;
	height: 30px;
	margin-bottom: 20px;
	color: red;
	font-style: italic;
}

#seConnecter {
	width: 179px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border: solid 1px #1D6154;
	font-size: 14px;
	font-weight: 700;
	color: white;
	margin-bottom: 25px;
	font-family: 'Syne';
}

#seConnecter:hover {
	cursor: pointer;
}

#oubli {
	font-size: 14px;
	font-weight: 500;
	font-family: 'Work Sans';
	color: #3D3D3D;
	text-decoration: underline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}