/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3{
	font-family: 'Work Sans';
	font-weight: 300;
	font-size: 20px;
	color: black;
	justify-content: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#mes-projets-logged-in {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#openModal {
	border: none;
	padding-left: 20px;
	height: 12px;
	background-color: transparent;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	border-radius: 20px;
	padding: 20px;
	border: 1px solid #888;
	width: 40%; 
  }
  
  /* The Close Button */
  .close-modal {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
	cursor: pointer;
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.categories button {
	margin: 20px;
}

#login {
	display: flex;
	justify-content: center;	
}

#login h2 {
    margin-bottom: 40px; 
	text-align: center;
}

#formLogin label {
    margin-top: 10px;
	font-size: 12px;
}

#formLogin input {
    margin-bottom: 30px; 
    padding: 3px; 
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	width: 300px;
	height: 30px;
}

#seConnecter {
	font-family: 'Work Sans';
    margin-top: 10px; 
    padding: 10px 40px; 
	color: white;
	background-color: #1D6154;
	border: none;
	border-radius: 40px;
	display: block;
	margin: 0 auto;
}


#login p {
	font-size: 12px;
    margin-top: 20px; 
	text-align: center;
	text-decoration: underline;
}

#error-message {
color: red; 
display: none
}

#openModal {
	display:none;
}

/* Figure and Image Styles */
.mini_gallery figure {
    position: relative;
	justify-content: center;
    display: inline-block;
    margin: 10px;
}

.mini_gallery img {
    display: block;
    width: 120px;
    height: auto;
}

/* Trash Can Icon Styles */
.close-mini-gallery {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 18px;
    cursor: pointer;
}

.close-mini-gallery:hover,
.close-mini-gallery:focus {
    color: black;
    text-decoration: none;
}

#addPhotoModal {
	display:none;
}

#addPhotoModalBtn {
font-family: 'Work Sans';
    margin-top: 10px; 
    padding: 10px 40px; 
	color: white;
	background-color: #1D6154;
	border: none;
	border-radius: 40px;
	margin: 0 auto;
}

#validerModal {
	font-family: 'Work Sans';
    margin-top: 10px; 
    padding: 10px 40px; 
	color: white;
	background-color: #A7A7A7;
	border: none;
	border-radius: 40px;
	display: block;
	margin: 0 auto;
}

#photoPost label {
    margin-top: 10px;
	font-size: 12px;
}

#photoPost input {
    margin-bottom: 30px; 
    padding: 3px; 
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	width: 300px;
	height: 30px;
}