/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a{
	text-decoration: none;
}

.login-body{
width: 1440px;
max-height: 1024px;

}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color:#FFFEF8;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 50px 0
}
.header-statut-deconnection{
	display: flex;
	justify-content: space-between;
	
	
}


section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li{
	color:black;
}

li:hover {
	color: #B1663C;
}
#modifier{
	margin: 20px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.modifier-projet-titreh2{
	display: flex;
	flex-direction: row; 
	justify-content: center;
	align-items: center;

}

/** Filter disigne**/

.filtres {
	display: flex;
	justify-content: center;
	margin: 50px;	
}

.boutonsFiltres,.boutonTous {
	
	min-width: 100px;
	height: 37px;
	margin: 5px;
	padding: 9px 14px  9px 14px ;
	border:1px solid #1D6154;
	border-radius:60px ;
	background-color: #FFFF;
	font-family: 'Syne';
	color: #1D6154;
	font-weight: 700;
	font-size: 16px;
	text-align: center;

}

.boutonsFiltres:hover,.boutonTous:hover {
	background-color: #1D6154;
	color: #FFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	margin: 20px;
	height: 60px;
	max-width: 1440px;
}

/** Page formulaire de connection **/


.section-login {
display: flex;
flex-direction: column;
align-items: center;
}

h2{
	display: flex;
	justify-content: center;
	margin: 30px;
}

.section-login{
	display: flex;
	justify-content: center;
}

.formulaire-login{

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.label-formulaire{
	display: flex;
}

.champs-formulaire{
	width: 379px;
	height: 51px;
	border : none;
	box-shadow:0px 4px 14px rgba(0, 0, 0, 0.09); 
	margin-bottom: 30px;
	margin-top: 10px;
}

.bouton-validation{
	color: #FFFF;
	font-family: syne;
	font-weight: 700;
	width: 179px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border:none;
	margin: 20px;

}

.connection-oublie {
 display: flex;
 justify-content: center;
}

span {
	display: flex;
	justify-content: center;
	text-align: center;

}

/** barre de modification**/

.barre-modif{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 59px;
	color: #FFFEF8;
	background-color: black;
	align-items: center;
	margin-bottom: 20px;
}

.bouton-publier{
	max-width: 216px;
	height:38px ;
	border: none;
	background-color: #FFFEF8;
	border-radius: 60px;
	margin-left: 20px;
	margin: 10px;
	padding: 5px;
}


#icone-modifier{
	margin: 5px;
}


/** Modales**/

/** Overlay**/
.modales {
	width: 100%;
	height: 100%;
	background-color: #00000030;
    position: fixed;
    left: 0;
    top: 0;
	display: none;

}

.modale{
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50% ,+10%);
	padding: 0px;
	margin: 0;
	display: block;
	justify-content: center;
	align-items: center;
	z-index: 1;
	
	
}

.contenu-modale{
	width: 630px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFFEFF;
	box-sizing: border-box;
	overflow: auto;
	border-radius: 10px;
	
}

.bouton-fermer{
	
	margin: 0;
	padding: 0;
	border: none;
	background-color: #FFFEFF;
	display: flex;
	justify-self: right;
}

.modale h2 {
	font-family: 'Work Sans';
	color: #000000;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
}

.modale .bouton-validation  {
	display: flex;
	justify-content: center;
	justify-self: right;
	align-items: center;
	
}

.modale form{
margin: 30px;
}

.modale {
	width: 440px;
}

.modale .label-formulaire{
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
}


/** Modale 1 Gallerie photo **/


.fermeture-modale{
	display: flex;
	justify-content: right;
	width: 630px;
	box-sizing: border-box;
	padding: 20px 30px 20px 30px;
}


.affichage-miniature{
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: justify;
	gap: 10px;
	padding: 0px;
	margin: 40px;
	padding-bottom:50px;
	border-bottom: solid 1px  #B3B3B3;
}



.fiche-miniature{
	display: flex;
	flex-direction: column;
	width: 78.13;
	box-sizing: border-box;
	padding: 10px;
}

.icones-fiche-miniature{
	display: flex;
	justify-content: right;
	gap: 2px;
	position: absolute;
	align-self: flex-end;
	
}


.bouton-delete{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17px;
	height: 17px;
	padding: 0;
	color: #FFFFFF;
	background-color: #000000;
	border: none;
}

 #icone-poubelle{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#bouton-deplacer {
	justify-content: center;
	width: 21px;
	padding: 0;
	color: transparent;
	border: none;
	background-color: transparent;
}

#bouton-deplacer :hover{
	color: #000000;
}

#icone-deplacer{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	background-color: tr;
}


.modale img{
	
	width: 78.12px;
	height: 104.08px;
}

.ajouter-supprimer{
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin: 50px;
}

#supprimer{
	display: flex;
	align-self: center;
	color: #D65353;
}

/** Modale2 **/


.retour-fermer{
	box-sizing: border-box;
	width: 630px;
	display: flex;
	padding: 10px 30px 10px 30px;
	justify-content: space-between;
}
.bouton-retour{
	border: none;
	background-color: #FFFEFF;
}

#section-ajout{
	width: 100%;
	min-width: 420px;
	height: 100%;
	min-height: 169px;
	padding: 10px;
	border-radius: 3px;
	background-color:#E8F1F6 ;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;

}

.fa-image::before{

	display: flex;
	justify-self: center;
	align-self: center;
}

.inserer-photo p {
	display: flex;
}

#section-ajout input {
	display: none;
}

#icone-image {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 58px;
	height: 58px;
	margin: 5px;
	padding-left: 3px;
	padding-right:3px ;
	
	background-color: #CBD6DC;
	color:#E8F1F6 ;
	font-size: 60px;
}

#bouton-ajouter-photo{
height: 36px;
width: 173px;
padding-top: 15px;
border: none;
border-radius: 50px;
background: #CBD6DC;
font-family: Work Sans ;
font-size: 14px;
font-weight: 500;
color: rgba(48, 102, 133, 1);
text-align: center;
}

.formulaire-ajout{
	width: 440px;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

#valider-modale2{
	display: flex;
	justify-self: center;
	align-self: center;
	background-color:#A7A7A7 ;
	height: 36px;
	width: 237px;

}