/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* margin: 50px 0; */
}

.edition{
	flex-direction: row;
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
	gap: 21px;
	height: 59px;
	margin-top: 0px;
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

button {
	cursor : pointer
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.projectHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1em;
	gap: 20px;
}

.btnModify, .btnModify:visited {
	background-color: transparent;
	border: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: none;
	text-decoration: none;
	color: black;
}

#portfolio h2 {
	text-align: center;
	/* margin-bottom: 1em; */
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.buttonFiltre {
	border: #1D6154 solid 1px;
	border-radius: 60px;
	background-color: white;
	color: #1D6154;
	font-weight: bold;
	height: 37px;
	font-size: 16px;
	font-family: 'Syne';
	padding-left: 17px;
	padding-right: 17px;
}

#categoriesButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

.buttonFiltre:hover, .buttonFiltre:active {
	background-color: #1D6154;
	color: white;
}

/*********login***********/

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 500px;
}

.login h2 {
	margin-bottom: 35px;
	color: #1D6154;
	font-size: 30px;
	font-style: normal;
	font-family: 'Syne';
}

.login form {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 30%;
	align-items: center;
}

.groupeInput {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;
}

.login input {
	height: 50px;
	border: none;
	background-color: white;
	box-shadow: 0px 5px 16px 5px rgba(0,0,0,0.12);
}

.connectionBtn {
	width: 50%;
	height: 36px;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
	font-family: 'Syne';
}

.login a {
	margin-top: 40px;
	color: black;
}

.msgError {
	color: red;
}

/**********Modale************/
* {
	box-sizing: border-box;
}

.modal{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	overflow: auto;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: #fff;
}

/********Header Modal*********/

.headerModal {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.headerModal button {
	background-color: transparent;
	border: none;
	font-size: 20px;
}

.modal-wrapper h3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 26px;
	font-family: 'Work Sans';
}

/************Main modal**********/
hr.solid {
	border-top: 1px solid #bbb;
	width: 80%;
}

.addWork {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 45%;
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.imgGalleryModal {
	width: 78px;
	height: 104px;
	margin-bottom: 20px;
}

.galleryModal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	width: 80%;
	justify-content: flex-start;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 60px;
}

.galleryModal figure{
	display: flex;
}

.deleteWorkBtn {
	color: white;
	background-color: black;
	border: none;
	font-size: 11px;
	height: 17px;
	width: 17px;
	padding: 0;
	margin-left: -20px;
	margin-top: 5px;
}

/*******Add work Modale*******/

.showAddWork{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.showAddWork h3 {
	margin-bottom: 20px;
}

.formAddWork {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	gap: 15px;
}

.divUploadPicture{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.addPicture {
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.addPicture i {
	font-size: 60px;
	color: #B9C5CC;
}

.btnAddPicture {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	height: 36px;
	width: 45%;
}

.addPicture p {
	color: #444444;
	font-size: 10px;
	font-family: 'Work Sans';
	font-weight: 400;
}

.formTitleAndCat {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
}

.formTitleAndCat input, .formTitleAndCat select {
	height: 51px;
	border: none;
	background-color: transparent;
	box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.1);
}

.showAddWork hr {
	width: 100%;
	margin-top: 30px;
}

.btnValidateFormAddWork {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 55%;
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;
}

.btnValidateFormAddWork:disabled{
	background-color: #A7A7A7;
}