/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#login-main {
	display: flex;
	flex-direction:  column;
	align-items: center;
	text-align: center;
	margin-top: 190px;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * ,
#login-section > *{
	text-align: center;
}

#login-section {
	display: flex;
	flex-direction: column;
	justify-content:center;
	width: 35%;
}
#contact h2,
#login-section h2{
	margin-bottom: 20px;
}
#contact form,
#login-section form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login-section input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-section input[type="email"],
#login-section input[type="password"] {
	width: 100%;
}

#contact label ,
#login-section label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#login-section a {
	color:  #3D3D3D;
	font-size: 14px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	padding: 20px 0px;
}
.btn-filter {
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1D6154;
	background-color: white ;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	line-height: 19.2px;
	color:#1D6154 ;
	margin : 10px 5px ;
	padding: 9px;
	cursor: pointer;
	border-radius: 60px ;
}

.filter button:focus {
	color: white;
	background-color: #1D6154;
}

.filter-tous {
	padding: 0px 21px;
}
.filter-1 {
	padding: 0px 13px;
}
.filter-2 {
	padding: 0px 6px;
}
.filter-3 {
	padding: 0px 0px;
}