/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 a {
	color: #B1663C;
	text-decoration: none;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:9px;
	letter-spacing: 0.1em;
	margin-top: 0.5em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li a {
	color: black;
	text-decoration: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#footer-index {
	padding-top: 0px;
}


/*ajout du css des boutons filtres*/

#filtre-liste {
	display: flex;
	padding: 20px 0px 50px 0px;
	justify-content: center;
	gap: 10px;

}

.gallery figcaption {
	padding-top: 8px;
}

.filtre-selected {
	background-color: #1D6154;
	color: white;
}

button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	padding: 0px 15px;
	min-width: 100px;
	height: 37px;
	background-color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 490px;
	object-fit: cover;
}

/*CSS de la page login.html*/
#form h2 {
	display: flex;
	justify-content: center;
	padding-top: 80px;
}

#form form {
	display: flex;
	flex-direction: column;
	margin: 0px 370px;
}

#form label {
	padding-bottom: 7px;
	padding-top: 30px;
}

#form input {
	font-size: 17px;
	height: 40px;
	border: none;
	padding-left: 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}

#form button {
	background-color: #1D6154;
	color: white;
	width: 180px;
	margin: 15px 0px 25px 107px;
}

#form button:hover {
	background-color: rgb(29, 97, 84, 0.8);
}

#form a {
	color: black;
	text-decoration: underline;
	display: flex;
	justify-content: center;
}

footer {
	padding-top: 320px;
}

#login-error {
	color: red;
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

/*CSS mode édition du haut de la page + bouton "modifier"*/
#mode-edition {
	color: white;
	background-color: black;
	height: 60px;
}

#mode-edition div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	height: 100%;
	gap: 5px;
}

#mode-edition button {
	color: black;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-left: 10px;
	width: 20%;
}

#modifier {
	display: flex;
	padding-left: 470px;
	padding-top: 100px;
	gap: 30px;
}

#modifier a {
	color: black;
	text-decoration: none;
	padding-top: 10px;
}

#modifier a:hover {
	color: #B1663C;
}

/*CSS de la modale pour modifier la galerie*/

#sect-modale {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn .3s both;
	margin: 0;
}

.modale {
	overflow: auto;
	background-color: white;
	width: 630px;
	height: 730px;
	padding: 20px;
	border-radius: 10px;
	animation: slide .3s both;
}

#icones {
	font-size: 20px;
	margin: 15px 15px 0px 15px;
	display: flex;
	justify-content: space-between;
}

#arrow {
	visibility: hidden;
	cursor: pointer;
}

#cross {
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide {
	from {
		transform: translateY(-50px);
	}

	to {
		transform: translateY(0px);
	}
}



/*CSS de la première modale (pour supprimer une photo de la galerie)*/
#first-modale {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#first-modale h3 {
	font-size: 26px;
	padding-top: 30px;
}

#bouton-ajouter {
	background-color: #1D6154;
	color: white;
	font-size: 14px;
	width: 230px;
	margin-top: 20px;
	cursor: pointer;
}

#bouton-ajouter:hover {
	background-color: rgb(29, 97, 84, 0.8);
}

#bouton-supprimer {
	color: red;
	border: none;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Work Sans';
	margin-top: 15px;
	cursor: pointer;
}

#bouton-supprimer:hover {
	text-decoration: underline;
}

.modale-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 15px;
	grid-column-gap: 10px;
	margin: 40px 80px 20px 80px;
	padding-bottom: 35px;
	border-bottom: 1px solid #b3b3b3;
}

.modale-gallery img {
	width: 100%;
	height: 110px;
	object-fit: cover;
}

.icone {
	position: fixed;
	margin-top: -122px;
	margin-left: 65px;
	padding: 4px;
	font-size: 10px;
	color: white;
	background-color: #000;
	border-radius: 2px;
	cursor: pointer;
}

.arrow {
	margin-left: 43px;
	visibility: hidden;
}

figure:hover .arrow {
	visibility: visible;
}

/*CSS de la deuxième modale (pour ajouter une photo dans la galerie)*/
#second-modale {
	display: none;
	align-items: center;
	flex-direction: column;
	margin: 40px 80px 20px 80px;
}

#second-modale h3 {
	font-size: 26px;
	padding-bottom: 30px;
}

#add-photo {
	background-color: #E8F1F6;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;
}

.fa-image {
	color: #B9C5CC;
	font-size: 60px;
	padding: 28px 0px 15px 0px;
}

#bouton-add {
	background-color: #CBD6DC;
	color: #306685;
	font-size: 14px;
	width: 170px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

#bouton-add:hover {
	background-color: rgb(194, 207, 214, 1.3);
}

#bouton-search {
	display: none;
}

#image-preview img {
	width: 135px;
	height: 180px;
	object-fit: cover;
}

#subtitle-image {
	color: #444444;
	font-size: 12px;
	padding: 10px 0px 20px 0px
}

#second-modale form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-bottom: 1px solid #A7A7A7;
	padding-bottom: 50px;
}

#form-image label {
	padding-top: 30px;
}

#second-modale input,
select {
	font-size: 14px;
	height: 50px;
	padding-left: 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}

#bouton-valider {
	color: white;
	background-color: #A7A7A7;
	font-size: 14px;
	width: 230px;
	margin-top: 35px;
	border: none;
	cursor: pointer;
}

#add-image-error {
	padding-top: 10px;
	gap: 5px;
}

/*CSS modale avertissement suppression d'image*/

#third-modale {
	display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

#delete-modale {
	position: absolute;
	background-color: white;
	color: #1D6154;
	width: 500px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 10px;
	border: 2px solid #1D6154;
}

#delete-modale p {
	margin-top: 40px;
	border-bottom: 1px solid #1D6154;
	padding-bottom: 25px;
}

#delete-modale button {
	font-family: 'Work Sans';
	font-weight: 500;
	border-radius: 5px;
	height: 35px;
	border: none;
}

#confirm-yes {
	background-color: #1D6154;
	color: white;
	margin-left: 10px;
}

#confirm-no {
	background-color: #CBD6DC;
}