/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
/** variables **/
:root {
	--button-color: #1D6154;
	--button-color-hover: #0F2F28;
	--button-color-greyed: #A7A7A7;
	--input-photo: #E8F1F6;
	--h1-li-hover-color: #B1663C;
	--a-color: #3D3D3D;
	--line-color: #B3B3B3;
	--button-font-size: 1.2em;
	--button-font-family: 'Syne';
	--text-font-family: 'Work Sans';
	--form-font-weight: 500;
	--button-font-weight: 700;
}
/** end variables **/
body {
	max-width: 1140px;
	margin:auto;
	font-family: var(--text-font-family);
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
}
#connected {
	width: 100vw;
	height: 60px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
#loggedOutModeHeader {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-right: -1.5%;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--h1-li-hover-color);
}

h1 > span {
	font-family: var(--text-font-family);
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--button-color);
}

h3 {
	font-family: var(--text-font-family);
	font-size: 26px;
	text-align: center;
	margin-top: 15px;
	margin-right: 40px;
	margin-bottom: 50px;
}

nav a {
	text-decoration: none;
	color: inherit;
}
nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10%;
	font-size: 1.14286em;
}

nav ul .contact-login {
	padding-right: 20%;
}

nav ul #login-bold {
	font-weight: 600;
}

nav li img {
	width: 22px;
}

li:hover {
	color: var(--h1-li-hover-color);
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-top: 4.75em;
}

#filter {
	display: flex;
	justify-content: center;
}

.buttons {
	width: 62%;
	margin: 1.5em 0;
	display: flex;
	cursor: pointer;
}

.button {
	font-family: var(--button-font-family);
	font-weight: var(--button-font-weight);
	font-size: var(--button-font-size);
	text-align: center;
	border-radius: 60px;
	border: 1px solid var(--button-color);
	margin : 2em auto ;
	height: 37px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.selected {
	background-color: var(--button-color);
	color: white;
}

.selected:hover {
	background-color: var(--button-color-hover);
}

.unselected {
	color: var(--button-color);
}

.greyed {
	background-color: var(--button-color-greyed);
	border: 1px solid var(--button-color-greyed);
	color: white;
}

.filter {
	padding: 1% 4.25%;
}

#editDiv {
	padding: 5% 0;
}

#editSpan {
	color: black;
	font-family: var(--text-font-family);
	font-size: 14px;
	margin-left: 2vw;
	cursor: pointer;
}

#editIcon {
	font-size: 15.58px;
	margin-right: 0.75vw;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #connection {
	width: 33.75%;
	margin: auto;
	gap: 2% 0;
}

#connection {
	padding-top: 10%;
}
#contact, #connection > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#connection h2 {
	margin-bottom: 15px;
}
#contact form, #connection form{
	text-align: left;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}
#contact p {
	font-family: var(--text-font-family);
	font-size: 16px;
}

#contact label, #connection label {
	margin: 2em 0 1em 0;
}

#contact textarea, #name, #email, #password, #title, #category {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 1%;
}

#contact #name, #email, #password, #title, #category {
	height: 51px;
}

input[type="submit"]{
	width: 180px;
}

#connection a {
	text-align: center;
	color: var(--a-color);
	margin-bottom: 90%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	margin-right: -17.5%;
}

footer li {
	font-weight: 300;
	font-size: 14px;
}

#modal-backgrd {
	width: 100vw;
	height: 100vh;
	background-color: #00000030;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 630px;
	height: 688px;
	background-color: white;
	border-radius: 10px;
	padding: 27.5px 0 27.5px 40.5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

#iconWrapper {
	position: relative;
}

.iconWrapperTop {
	margin-top: 25px;
}

.icon-close {
	position: absolute;
	right: 32.5px;
	top: -17.5px;
	cursor: pointer;
}

.icon-back {
	display: none;
	position: absolute;
	top: -17.5px;
	left: -15px;
	cursor: pointer;
}

.gallery-view {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 7.5px;
	grid-row-gap: 30px;
	box-sizing: border-box;
	margin-bottom: 60px;
}

.gallery-add-view-size {
	width: 93%;
	height: 65%;
	padding: 0 11%;
}

.add-view {
	display: none;
}

#gallery img {
	width: 100%;
	height: 100%;
}

hr {
	color: var(--line-color);
	margin-right: 104px;
}

.button-modal {
	width: 237px;
	padding: 10px 0;
	margin: 28px 0 28px 156px;
	font-size: 1em;
}

#gallery figure {
	position: relative;
	display: inline-block;
}

.delete-proj {
	font-size: 13px;
	width: 14px;
	height: 14px;
	background-color: black;
	color: white;
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 5px;
	padding: 1px;
	border-radius: 2px;
}

form input {
	width: 420px;
	margin-top: 10px;
}

form label {
	margin-top: 20px;
	font-size: 14px;
	font-weight: var(--form-font-weight);
	font-family: var(--text-font-family);
}

#file-photo {
	background-color: var(--input-photo);
	height: 169px;
	margin-top: 0;
	margin-bottom: 10px;
}

#modalTitle {
	margin-bottom: 37.5px;
}

#modalForm {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

#category {
	margin-bottom: 0;
}

/*
Step 3
SMART modifier
SMART2 modal
edit mode bandeau fullscreen
	fetch("URL works)
*/