/* Style pour la barre d'édition noire */
.edit-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

body.admin-mode .edit-bar {
    display: flex;
}

body.admin-mode {
    margin-top: 0;
    padding-top: 59px;
}

.title-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 1em;
}

.title-container h2 {
    margin: 0;
    margin-right: 31px;
    font-size: 30px;
}

/* Style pour le lien modifier à côté du titre h2 'Mes projets' */
.portfolio-edit-link {
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.portfolio-edit-link i {
    width: 15px;
    height: 15px;
    font-size: 15px;
}

.edit-bar .edit-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-bar .edit-link i {
    margin-right: 5px;
}

.edit-bar i {
    font-size: 16px;
    cursor: pointer;
}

/* Style pour les icônes */
.fa-pen-to-square {
    cursor: pointer;
}

/* Masquer les boutons de filtrage en mode admin */
body.admin-mode .filter-buttons {
    display: none;
}

/* Masquer les boutons de tri en mode édition */
body.admin-mode .btn-filter {
    display: none !important;
}
