<header>
	<div id="banniere" class="banniere-off">
		<span class="material-symbols-outlined">edit_square</span>
		<p>Mode édition</p>
	</div>
	<div id="header-content">
		<h1>Sophie Bluel <span>Architecte d'intérieur</span></h1>
		<nav>
			<ul>
				<li><a href="index.html#portfolio">projets</a></li>
				<li><a href="index.html#contact">contact</a></li>
				<li><a href="connexion.html">login</a></li>
				<li><img src="assets\icons\instagram.png" alt="Instagram"></li>
			</ul>
		</nav>
	</div>
</header>